<div class="footer">
	<div class="grey-links">
		<div class="pages">Pages</div>
		<a href ="/show-customers">
			<div class="grey-link">List of Customers</div>
		</a>
		<a href ="/new-customer-form">
			<div class="grey-link">Add New Customer</div>
		</a>
		<a href ="/show-retreats">
			<div class="grey-link">List of Retreats</div>
		</a>
	</div>
</div>