<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="navbar">
            <a class="navbar-title" href="/">Holiday Retreats</a>
            <div class="navbar-links">
                <a href="/show-customers">Customers</a>
                <a href="/show-retreats">Retreats</a>
                <a href="/new-customer-form">Add Customer</a>
                <a href="/new-retreat-form">Add Retreat</a>
            </div>
        </div>
    </body>
</html>