<!DOCTYPE html>
<html lang="en">
	<body>
		{{> main}}
		<div class="new-customer-container">
			<div class="new-customer-title">Add a new customer:</div>
			<form class="new-customer-form" id="new-customer-form" action="/customers" method="POST">
				<div class="new-customer-label">Name</div>
				<input type="text" id="name" name="name">
				<div class="new-customer-label">Email</div>
				<input type="text" id="email" name="email">
				<div class="new-customer-label">Phone Number</div>
				<input type="text" id="phone" name="phone">
				<input type="submit" value="Submit">
			</form>
			<div id="new-customer-confirmation"> Customer added to database.</div>
			<div id="submitted">{{submitted}}</div>
		</div>
		{{> footer}}
	</body>
</html>
<script>
	console.log(document.getElementById("submitted").innerHTML);
	var submitted = document.getElementById("submitted").innerHTML;
	if(submitted == "yes"){
		var newCustomerForm = document.getElementById("new-customer-form");
		var newCustomerConfirmation = document.getElementById("new-customer-confirmation");
		newCustomerForm.style.display = "none";
		newCustomerConfirmation.style.display = "block";
	}
</script>