<!DOCTYPE html>
<html lang="en">
    <head>
        {{> main}}
        <title>All Retreats</title>
    </head>
    <body>
        <div class="container">
            <h2 class="page-title">All Retreats</h2>

            <div class="retreats-list">
                {{#each retreats}}
                <a href="/retreat-dashboard/{{this.retreat_id}}" class="retreat-link">
                    <div class="retreat-row">
                        <div class="retreat-name">{{this.retreat_name}}</div>
                        <div class="retreat-date">{{formatDate this.start_date}}</div>
                        <div class="retreat-length">{{this.length}} days</div>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
        {{> footer}}
    </body>
</html>